<section class='px-7 py-4 my-4 rounded-2xl text-xl text-center bg-teal-600 text-zinc-200'>
  Apparel Solutions is the US sales arm for our Vietnam factories. Men's and women's wearing apparel of all fabrication
  and makes.
</section>
