---
import BaseHead from '../../components/BaseHead.astro';
import Body from '../../components/Body.astro';
import Content from '../../components/Content.astro';
import Header from '../../components/header/Header.astro';
import Main from '../../components/Main.astro';
import Posts from '../../components/posts/Posts';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <Main>
      <Content>
        <div class='flex'>
          <h1 class='bg-oldPaper dark:bg-teal-600 dark:bg-opacity-40 py-2 px-3 rounded-lg text-xl'>All Posts</h1>
        </div>
        <Posts client:load />
      </Content>
    </Main>
  </Body>
</html>
