---
import AboutSection from '../components/aboout/AboutSection.astro';
import BaseHead from '../components/BaseHead.astro';
import Blurb from '../components/blurb/Blurb.astro';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import Header from '../components/header/Header.astro';
import Main from '../components/Main.astro';
import MostRecentVideos from '../components/mostRecentVideos/MostRecentVideos';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <Body>
    <Header />
    <Main>
      <Content>
        <Blurb />
        <AboutSection />
        <MostRecentVideos client:visible />
      </Content>
    </Main>
  </Body>
</html>
