---
import HeaderLink from './HeaderLink.astro';
import DropdownMenu from '../dropdownMenu/DropdownMenu';
import ThemeToggleButton from '../themeToggleButton/ThemeToggleButton';
---

<header class='fixed w-full p-2 z-20 backdrop-blur-md'>
  <div class='mx-auto max-w-3xl'>
    <nav class='flex items-center gap-3 text-base'>
      <a href='#' class='group'>
        <h2 class='font-seaside tracking-tighter p-2 text-xl text-teal-600'>APPAREL SOLUTIONS</h2>
      </a>
      <div class='items-center gap-6 hidden md:flex'>
        <HeaderLink href={'/'}>Projects</HeaderLink>
      </div>
      <div class='flex-1'></div>
      <ThemeToggleButton client:visible />
      <div class='md:hidden'>
        <DropdownMenu client:visible />
      </div>
    </nav>
  </div>
</header>
